/**
* -----------------------------------------------------------
* Footer styles.
* -----------------------------------------------------------
*/

.l-footer {
  padding: 20px 0;
  background: $color-text;
  color: $color-inverted;
}

.l-shop-adress {
  @include span(12 last);
  margin: 20px 0 30px;
  > ul {
    > li {
      @extend %list-unstyled;
      @include float-left;
      /* @include inline-block-list-item; */
      width: 233px;
      margin-right: 80px;
      p{
        font-family: $font-2;
        font-size: 12px;
        line-height: 15px;

      }
      li {
        @extend %list-unstyled;
        &:last-of-type {
          padding-left: 23px;
          background: url(../images/icons/phone-icon.png) no-repeat;
          a {
            color: $color-highlight;
            font-family: $font-4;
          }
        }
      }
    }
  }
}

.l-footer-logo {
  @include span(1 of 12);
}

.l-footer-contact {
  @include span(3 of 12);
  ul {
    margin-left: 25px;
    li {
      @extend %list-unstyled;
      @extend %padding-for-list-items;
      &:nth-of-type(1) {
        background: url(../images/icons/phone-icon.png) no-repeat;
      }
      &:nth-of-type(2) {
        background: url(../images/icons/envelope-icon.png) no-repeat;
      }
    }
  }
}
.l-footer-nav {
  @include span(8 last);

  ul li {
    @extend %list-unstyled;
    @include float-left;
    a {
      @extend %main-nav-style;
    }
  }
}
