/**
* -----------------------------------------------------------
* Footer styles.
* -----------------------------------------------------------
*/

.l-footer {
  padding: 20px 0;
  background: $color-text;
  color: $color-inverted;
}

.l-shop-adress {
  @include span(12 last);
  margin: 6px 0 34px;
  > ul {
    padding-top: 12px;
    > li {  //    shop address and phone number
      @extend %list-unstyled;
      @include float-left;
      width: 233px;
      margin-right: 77px;
      p{
        @extend %copyright-text;
        margin-top: 0;
        margin-bottom: 0;
      }
      &:nth-of-type(2) {
        margin-right: 65px;
      }
      li {    //  shop address
        @extend %list-unstyled;
        &:last-of-type {    //  phone number
          padding-left: 23px;
          margin-top: 7px;
          letter-spacing: 1.5px;
          background: url(../images/icons/phone-icon.png) 0 4px no-repeat;

          a {
            color: $color-highlight;
            font-family: $font-4;
          }
        }
      }
    }
  }
}

.l-footer-logo {
  @include span(1 of 12);
}

.l-footer-contact {
  @include span(3 of 12);
  ul {
    margin-left: 25px;
    li {
      @extend %list-unstyled;
      @extend %padding-for-list-items;
      padding-left: 30px;
      margin-bottom: 6px;
      font-family: $font-2;
      font-size: 16px;
      &:nth-of-type(1) {
        background: url(../images/icons/phone-icon.png) 1px 11px no-repeat;
      }
      &:nth-of-type(2) {
        background: url(../images/icons/envelope-icon.png) 1px 14px no-repeat;
      }
    }
  }
}
.l-footer-nav {
  @include span(8 last);
  padding-left: 38px;
  padding-top: 7px;
  ul {
    margin-bottom: 10px;
    li {
      @extend %list-unstyled;
      @include float-left;
      margin-bottom: 5px;
      /* padding: 0 10px; */
      + li {
        padding-left: 28px;
        background: url(../images/icons/nav-divider-highlight.png) no-repeat top left;
      }
      a {
        @extend %main-nav-style;
        margin-right: 6px;
      }
    }
  }

  img {
    margin-top: 5px;
  }
  p {
    @extend %copyright-text;
    line-height: 14px;
    letter-spacing: 0.5px;
  }
}
