/**
* -----------------------------------------------------------
* Main styles
* -----------------------------------------------------------
*/
.l-featured-section {
  margin-top: 37px;
}
/* SLIDE STYLES */
.l-slide-wrapper {
  position: relative;
}
.l-image-well {
  //  position slide image
  width: 187px;
  height: 174px;
  margin: 40px 45px 68px 40px;
  @include float-left;
}
.l-text-well {
  //  position slide text
  width: 445px;
  margin: 22px 0 0 27px;
  @include float-left;
  h2 {
    //  slide header
    font-size: 24px;
    text-transform: uppercase;
  }
  p {
    //  slide text
    @extend %text-info;  //  sass placeholder selector for text style (look at _base.scss for source code)
  }
}
.l-price-tag {
  //  price on the slider bottom right
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid; // make triangle
  border-width: 0 0 114px 360px;
  border-color: transparent transparent $color-highlight transparent;
  p {
    // set text of the tag visible
    position: relative;
    width: 200px;
    left: -162px;
    top: 46px;
    color: $color-inverted;
    span {
      font-family: $font-3;
      font-size: 24px;
    }
  }
}
/* LIST OF BRANDS */
.l-brand-list {
  @include span(12 last); //  susy mixin
  margin-bottom: 19px;
  ul {
    margin-left: 56px;
    li {
      @include inline-block-list-item; //  compass mixin
    }
    @include list-item-right-margin(5, 80, 75, 84, 62, 70); //  you find this mixin in the _utilities.scss
  }
}
