/**
* -----------------------------------------------------------
* Main styles
* -----------------------------------------------------------
*/
.l-featured-section {
  margin-top: 11px;
}
/* SLIDE STYLES */
.l-slide-wrapper {
  position: relative;
}
.l-image-well {
  //  position slide image
  width: 187px;
  height: 174px;
  margin: 40px 45px 59px 40px;
  @include float-left;
}
.l-text-well {
  //  position slide text
  width: 430px;
  margin: 22px 0 0 30px;
  @include float-left;
  h1 {
    //  slide header
    font-size: 24px;
    text-transform: uppercase;
  }
  p {
    //  slide text
    @extend %text-info;  //  sass placeholder selector look at _base.scss
  }
}
.l-price-tag {
  //  price on the slider bottom right
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid; // make triangle
  border-width: 0 0 107px 337px;
  border-color: transparent transparent $color-highlight transparent;
  p {
    // set text of the tag visible
    position: relative;
    width: 200px;
    left: -140px;
    top: 60px;
  }
}
/* LIST OF BRANDS */
.l-brand-list {
  @include span(12 last); //  susy mixin
  ul {
    margin-left: 56px;
    li {
      @include inline-block-list-item; //  compass mixin
    }
    @include list-item-right-margin(5, 80, 80, 90, 67, 70); //  you find this mixin in the _utilities.scss
  }
}
