/**
* -----------------------------------------------------------
* Site settings
* -----------------------------------------------------------
*/

/* Typography */
$base-font-size: 14px;
$font-1: "OpenSans-Regular", Arial, sans-serif;
$font-2: "OpenSans-Light", Arial, sans-serif;
$font-3: "OpenSans-Semibold", Arial, sans-serif;
$font-4: "OpenSans-Bold", Arial, sans-serif;
$font-5: "OpenSans-LightItalic", Arial, sans-serif;
$font-6: "OpenSans-ExtraBold", Arial, sans-serif;

$baseline: $base-font-size * 1.5;

/* Colors */
$color-link: #4183c4;
$color-link-hover: #333;

$color-text: #1a1a1a;
$color-light-text: #455a64;
$color-strong-text: #191919;

$color-dark: #333;
$color-inverted: #fff;

$color-form-text: #78909c;
$color-form-bg: #fdfefe;
$color-form-border: #d2dbde;

$color-shopping-cart-bg: #242424;

$color-highlight: #e5097f;

$color-hr: #f1f3f5;

/* Positioning */
//  setting up susy for static grid fixed width
$susy: (
  math: static,
  columns: 12,
  container: 940px,
  gutters: 20px/60px,
  column-width: 60px,
  global-box-sizing: border-box
);



$margin-multipier: 2;

$general-margin: $baseline * $margin-multipier;
