/**
* -----------------------------------------------------------
* style.scss
*
* Kraski zdes website

Author: Mikhail Morshinin
* -----------------------------------------------------------
*/
/* Compass */
/* Susy */
/* Utilities */
/**
* -----------------------------------------------------------
* Site settings
* -----------------------------------------------------------
*/
/* Typography */
/* Colors */
/* Positioning */
/**
* -----------------------------------------------------------
* Utilities
* -----------------------------------------------------------
*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* Bootstrap */
/* @import "bootstrap/bootstrap"; */
/* Base */
/**
* -----------------------------------------------------------
* Normalize
* -----------------------------------------------------------
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
* -------------------------------------------
* Base styles
* -------------------------------------------
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
ul {
  /* background-image: url('../images/kraski-home.jpg');
background-position: top center;
background-repeat: no-repeat; */
  margin: 0;
  padding: 0;
}

body {
  font-family: "OpenSans-Regular", Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #4183c4;
}

h1 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
}

input[type="submit"],
input[type="text"] {
  line-height: normal !important;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

.l-social, .l-payment-info {
  width: 220px;
  float: left;
  margin-right: 20px;
}
.l-social:last-child, .l-payment-info:last-child {
  float: right;
  margin-right: 0;
}

/* Typography placeholders */
.l-text-well p, .l-company-info p {
  font-size: 13px;
  font-family: "OpenSans-Light", Arial, sans-serif;
  line-height: 20px;
}

.l-company-info p strong, .l-social ul li a {
  font-family: "OpenSans-Semibold", Arial, sans-serif;
  font-size: 16px;
  color: #191919;
}

.l-shop-adress > ul > li p, .l-footer-nav p {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.l-main-nav-bar > ul:first-of-type > li a, .l-footer-nav ul li a {
  color: #fff;
  text-transform: uppercase;
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 13px;
  margin-right: 10px;
}

/* List placeholders */
.l-social ul li:nth-of-type(1), .l-social ul li:nth-of-type(2), .l-social ul li:nth-of-type(3), .l-footer-contact ul li {
  padding-left: 40px;
  padding-bottom: 7px;
  padding-top: 6px;
  margin-bottom: 15px;
}

.l-main-nav-bar > ul:first-of-type > li, .l-shopping-cart #shopping-cart li, .l-main-contact-list, .l-social ul li, .l-payment-info ul li, .l-shop-adress > ul > li, .l-shop-adress > ul > li li, .l-footer-contact ul li, .l-footer-nav ul li {
  list-style-type: none;
}

/* Other placeholders */
#search, .m-search-btn {
  vertical-align: middle;
}

.l-main-nav-bar, .l-main-nav-bar > ul:first-of-type > li, .l-shopping-cart, .l-shopping-cart img, .l-shopping-cart #shopping-cart {
  float: left;
}

.l-nav-wrapper, .l-shopping-cart {
  overflow: hidden;
  *zoom: 1;
}

.l-main-nav-bar > ul:first-of-type, .l-shopping-cart, .l-shopping-cart img, .l-shopping-cart #shopping-cart {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/**
* -----------------------------------------------------------
* IE8 Styles.
* -----------------------------------------------------------
*/
/* Fonts */
@font-face {
  font-family: "OpenSans-Regular";
  src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot?1453747702');
  src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot?&1453747702#iefix') format('embedded-opentype'), url('../fonts/opensans_regular/OpenSans-Regular-webfont.ttf?1453747702') format('truetype'), url('../fonts/opensans_regular/OpenSans-Regular-webfont.woff?1453747702') format('woff'), url('../fonts/opensans_regular/OpenSans-Regular-webfont.svg?1453747702') format('svg');
}
@font-face {
  font-family: "OpenSans-Light";
  src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot?1453747702');
  src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot?&1453747702#iefix') format('embedded-opentype'), url('../fonts/opensans_light/OpenSans-Light-webfont.ttf?1453747702') format('truetype'), url('../fonts/opensans_light/OpenSans-Light-webfont.woff?1453747702') format('woff'), url('../fonts/opensans_light/OpenSans-Light-webfont.svg?1453747702') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.eot?1453747702');
  src: url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.eot?&1453747702#iefix') format('embedded-opentype'), url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.ttf?1453747702') format('truetype'), url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.woff?1453747702') format('woff'), url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.svg?1453747702') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url('../fonts/opensans_bold/OpenSans-Bold-webfont.eot?1453747702');
  src: url('../fonts/opensans_bold/OpenSans-Bold-webfont.eot?&1453747702#iefix') format('embedded-opentype'), url('../fonts/opensans_bold/OpenSans-Bold-webfont.ttf?1453747702') format('truetype'), url('../fonts/opensans_bold/OpenSans-Bold-webfont.woff?1453747702') format('woff'), url('../fonts/opensans_bold/OpenSans-Bold-webfont.svg?1453747702') format('svg');
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.eot?1453747702');
  src: url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.eot?&1453747702#iefix') format('embedded-opentype'), url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.ttf?1453747702') format('truetype'), url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.woff?1453747702') format('woff'), url('../fonts/opensans_lightitalic/OpenSans-LightItalic-webfont.svg?1453747702') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.eot?1453747702');
  src: url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.eot?&1453747702#iefix') format('embedded-opentype'), url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.ttf?1453747702') format('truetype'), url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.woff?1453747702') format('woff'), url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.svg?1453747702') format('svg');
  font-weight: 800;
}
/* Layout */
/**
* -----------------------------------------------------------
* Nav styles
* -----------------------------------------------------------
*/
.l-nav-wrapper {
  width: 940px;
  float: right;
  margin-right: 0;
  margin: 15px 0 11px 0;
  background: #242424;
  height: 100px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.l-main-nav-bar {
  display: inline-block;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 740px;
  padding: 14px 0 16px 16px;
  background-image: -moz-linear-gradient(90deg, black 0%, #323232 100%);
  background-image: -webkit-linear-gradient(90deg, black 0%, #323232 100%);
  background-image: -ms-linear-gradient(90deg, black 0%, #323232 100%);
  height: 100px;
}
.l-main-nav-bar > ul:first-of-type {
  display: inline-block;
  margin-top: 0;
  margin-left: 36px;
}
.l-main-nav-bar > ul:first-of-type > li + li {
  padding-left: 28px;
  background: url(../images/icons/nav-divider.png) no-repeat top left;
}

.l-shopping-cart {
  height: 100px;
  padding-left: 12px;
}
.l-shopping-cart img {
  padding: 0 24px 0 21px;
  background: url(../images/icons/nav-divider.png) no-repeat top right;
}
.l-shopping-cart #shopping-cart {
  padding-left: 10px;
  color: #fff;
}
.l-shopping-cart #shopping-cart .cart-title {
  text-transform: uppercase;
  font-size: 13px;
}
.l-shopping-cart #shopping-cart li {
  font-size: 12px;
}

.l-nav-secondary {
  width: 940px;
  float: right;
  margin-right: 0;
  padding: 3px 0;
}
.l-nav-secondary > ul {
  display: inline-block;
}
.l-nav-secondary > ul > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 57px;
  padding-right: 26px;
}
.l-nav-secondary > ul > li a {
  font-family: "OpenSans-ExtraBold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
}

/**
* -----------------------------------------------------------
* Header styles
* -----------------------------------------------------------
*/
/* Contact information menu */
.l-main-contact-wrapper {
  width: 540px;
  float: left;
  margin-right: 20px;
  padding-top: 14px;
  margin-bottom: 15px;
}
.l-main-contact-wrapper a {
  color: #1a1a1a;
}

.l-main-contact-list {
  margin: 0;
}
.l-main-contact-list li {
  float: left;
}
.l-main-contact-list li:nth-of-type(1) {
  padding-left: 29px;
  padding-right: 43px;
  padding-bottom: 7px;
  background-image: url(../images/icons/watch-icon.png);
  background-repeat: no-repeat;
}
.l-main-contact-list li:nth-of-type(2) {
  padding-left: 22px;
  padding-right: 65px;
  background-image: url(../images/icons/phone-icon.png);
  background-position: 0 4px;
  background-repeat: no-repeat;
}
.l-main-contact-list li:last-child {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-left: 24px;
  padding-right: 0;
  background-image: url(../images/icons/envelope-icon.png);
  background-position: 0 6px;
  background-repeat: no-repeat;
}

/* Search box styling */
.l-search-form {
  width: 380px;
  float: right;
  margin-right: 0;
  margin: 0;
  padding-top: 10px;
  padding-left: 40px;
}

/**
* -----------------------------------------------------------
* Main styles
* -----------------------------------------------------------
*/
.l-featured-section {
  margin-top: 37px;
}

/* SLIDE STYLES */
.l-slide-wrapper {
  position: relative;
}

.l-image-well {
  width: 187px;
  height: 174px;
  margin: 40px 45px 68px 40px;
  float: left;
}

.l-text-well {
  width: 445px;
  margin: 22px 0 0 27px;
  float: left;
}
.l-text-well h1 {
  font-size: 24px;
  text-transform: uppercase;
}

.l-price-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 114px 360px;
  border-color: transparent transparent #e5097f transparent;
}
.l-price-tag p {
  position: relative;
  width: 200px;
  left: -162px;
  top: 46px;
  color: #fff;
}
.l-price-tag p span {
  font-family: "OpenSans-Semibold", Arial, sans-serif;
  font-size: 24px;
}

/* LIST OF BRANDS */
.l-brand-list {
  width: 940px;
  float: right;
  margin-right: 0;
  margin-bottom: 19px;
}
.l-brand-list ul {
  margin-left: 56px;
}
.l-brand-list ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
}
.l-brand-list ul li:nth-of-type(1) {
  margin-right: 80px;
}
.l-brand-list ul li:nth-of-type(2) {
  margin-right: 75px;
}
.l-brand-list ul li:nth-of-type(3) {
  margin-right: 84px;
}
.l-brand-list ul li:nth-of-type(4) {
  margin-right: 62px;
}
.l-brand-list ul li:nth-of-type(5) {
  margin-right: 70px;
}

/**
* -----------------------------------------------------------
* Catalogue styles
* -----------------------------------------------------------
*/
/* If you are looking for category buttons, look at _btn.scss file instead */
.l-catalogue {
  margin-bottom: 36px;
  position: relative;
}
.l-catalogue li {
  width: 460px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
}
.l-catalogue li:last-child {
  float: right;
  margin-right: 0;
}

.l-additional-info {
  padding-bottom: 6px;
  padding-top: 9px;
}

.l-company-info {
  width: 460px;
  float: left;
  margin-right: 20px;
}
.l-company-info:last-child {
  float: right;
  margin-right: 0;
}

.l-social ul {
  padding-top: 12px;
}
.l-social ul li:nth-of-type(1) {
  background: url(../images/icons/social/youtube-logo.png) no-repeat;
}
.l-social ul li:nth-of-type(2) {
  background: url(../images/icons/social/vkontakte-logo.png) no-repeat;
}
.l-social ul li:nth-of-type(3) {
  background: url(../images/icons/social/facebook-logo.png) no-repeat;
}

.l-payment-info ul {
  padding-top: 7px;
}
.l-payment-info ul li {
  /*     margin-top: 5px; */
  margin-bottom: 8px;
}

/**
* -----------------------------------------------------------
* Footer styles.
* -----------------------------------------------------------
*/
.l-footer {
  padding: 20px 0;
  background: #1a1a1a;
  color: #fff;
}

.l-shop-adress {
  width: 940px;
  float: right;
  margin-right: 0;
  margin: 6px 0 34px;
}
.l-shop-adress > ul {
  padding-top: 12px;
}
.l-shop-adress > ul > li {
  float: left;
  width: 233px;
  margin-right: 77px;
}
.l-shop-adress > ul > li p {
  margin-top: 0;
  margin-bottom: 0;
}
.l-shop-adress > ul > li:nth-of-type(2) {
  margin-right: 65px;
}
.l-shop-adress > ul > li li:last-of-type {
  padding-left: 23px;
  margin-top: 7px;
  letter-spacing: 1.5px;
  background: url(../images/icons/phone-icon.png) 0 4px no-repeat;
}
.l-shop-adress > ul > li li:last-of-type a {
  color: #e5097f;
  font-family: "OpenSans-Bold", Arial, sans-serif;
}

.l-footer-logo {
  width: 60px;
  float: left;
  margin-right: 20px;
}

.l-footer-contact {
  width: 220px;
  float: left;
  margin-right: 20px;
}
.l-footer-contact ul {
  margin-left: 25px;
}
.l-footer-contact ul li {
  padding-left: 30px;
  margin-bottom: 6px;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 16px;
}
.l-footer-contact ul li:nth-of-type(1) {
  background: url(../images/icons/phone-icon.png) 1px 11px no-repeat;
}
.l-footer-contact ul li:nth-of-type(2) {
  background: url(../images/icons/envelope-icon.png) 1px 14px no-repeat;
}

.l-footer-nav {
  width: 620px;
  float: right;
  margin-right: 0;
  padding-left: 38px;
  padding-top: 7px;
}
.l-footer-nav ul {
  margin-bottom: 10px;
}
.l-footer-nav ul li {
  float: left;
  margin-bottom: 5px;
  /* padding: 0 10px; */
}
.l-footer-nav ul li + li {
  padding-left: 28px;
  background: url(../images/icons/nav-divider-highlight.png) no-repeat top left;
}
.l-footer-nav ul li a {
  margin-right: 6px;
}
.l-footer-nav img {
  margin-top: 5px;
}
.l-footer-nav p {
  line-height: 14px;
  letter-spacing: 0.5px;
}

/* Modules */
/**
* -----------------------------------------------------------
* Button styles
* -----------------------------------------------------------
*/
.m-catalogue-btn {
  display: block;
  padding: 0 13px 0 83px;
  position: relative;
  height: 100px;
  text-align: center;
  background: #f1f3f5;
  font-family: "OpenSans-Semibold", Arial, sans-serif;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  line-height: 100px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.m-catalogue-btn span {
  /* padding: 22px; */
  width: 65px;
  height: 65px;
  position: absolute;
  left: 13px;
  top: 17px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-image: -moz-linear-gradient(90deg, black 0%, #424242 100%);
  background-image: -webkit-linear-gradient(90deg, black 0%, #424242 100%);
  background-image: -ms-linear-gradient(90deg, black 0%, #424242 100%);
  font-family: "OpenSans-Semibold", Arial, sans-serif;
  font-size: 16px;
  line-height: 63px;
  color: #fff;
}
.m-catalogue-btn:hover span {
  background-image: -moz-linear-gradient(90deg, #a20a64 0%, #df158d 100%);
  background-image: -webkit-linear-gradient(90deg, #a20a64 0%, #df158d 100%);
  background-image: -ms-linear-gradient(90deg, #a20a64 0%, #df158d 100%);
}

.l-payment-info ul li a {
  display: block;
  color: #fff;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  background: url(../images/icons/arrow-right-icon.png) 180px 13px #191919 no-repeat;
  padding: 11px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/**
* -----------------------------------------------------------
* Divider styles
* -----------------------------------------------------------
*/
hr {
  display: block;
  height: 1px;
  margin: 42px 0;
  border: none;
  background-color: #f1f3f5;
}

/**
* -----------------------------------------------------------
* Form styles
* -----------------------------------------------------------
*/
#search {
  width: 264px;
  font-family: "OpenSans-LightItalic", Arial, sans-serif;
  color: #78909c;
  padding: 0 0 0 14px;
  height: 29px;
  background: #fdfefe;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-width: 1px;
  border-color: #d2dbde;
}

.m-search-btn {
  padding: 0 19px 0 23px;
  height: 31px;
  margin: 0;
  border-width: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  /*   border-color: $color-highlight; */
  background: #e5097f;
}

/**
* -----------------------------------------------------------
* Table styles
* -----------------------------------------------------------
*/
/**
* -----------------------------------------------------------
* Slider styles
* -----------------------------------------------------------
*/
.m-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
}

.m-slider::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: '';
  display: block;
  background: #fff;
  height: 48px;
  border-top: 1px solid #f1f3f5;
}

.m-slide-switch {
  display: none;
}

.m-slide-label {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: 21px;
  display: block;
  z-index: 5;
  height: 10px;
  width: 10px;
  text-indent: 10px;
  overflow: hidden;
  background: #f1f3f5;
  border-radius: 50%;
  border-width: 1px;
  border-color: #dee1e3;
  cursor: pointer;
  transition: all 0.25s;
}
.m-slide-label:nth-of-type(1) {
  left: 0;
}
.m-slide-label:nth-of-type(2) {
  left: 3.5rem;
}
.m-slide-label:nth-of-type(3) {
  left: 7rem;
}
.m-slide-label:nth-of-type(4) {
  left: 10.5rem;
}
.m-slide-label:nth-of-type(5) {
  left: 14rem;
}

.m-slide-content {
  width: 100%;
  background: #fff;
  float: left;
  margin-right: -100%;
  border: 1px solid #f1f3f5;
}

.m-slide-switch:checked + .m-slide-label {
  background: #e5097f;
  height: 14px;
  width: 14px;
  text-indent: 14px;
}

.m-slide-switch:not(:checked) + .m-slide-label + .m-slide-content {
  opacity: 0;
  transition: opacity 0.35s;
  pointer-events: none;
}

.m-slide-switch:checked + .m-slide-label + .m-slide-content {
  animation: slide 1s;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/**
* -----------------------------------------------------------
* Other styles
* -----------------------------------------------------------
*/
/* Theme */
/**
* -----------------------------------------------------------
* Theme styles
* -----------------------------------------------------------
*/
/* Background for whole site */
.t-html {
  background: url(../images/bg-image-wide.jpg) 65% 102% no-repeat;
}

.t-header {
  background-color: #eff2f4;
}

/* Background for catalogue */
.t-body {
  background: linear-gradient(to top, #ffffff, #ffffff);
  background-size: 1020px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* Background for company info */
.t-additional-info {
  background-color: #eff2f4;
}
