/**
* -----------------------------------------------------------
* Button styles
* -----------------------------------------------------------
*/

.btn {
  display: block;
  padding: 38px 13px;
  margin: 10px 0;
  position: relative;
  text-align: center;
  background: $color-hr;
  span {    //  square inside button
    padding: 26px;
    position: absolute;
    left: 10px;
    top: 10px;
    @include border-radius(6px);
    background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(66,66,66) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(66,66,66) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(66,66,66) 100%);

  }
  &:hover span {
    background-image: -moz-linear-gradient( 90deg, rgb(162,10,100) 0%, rgb(223,21,141) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(162,10,100) 0%, rgb(223,21,141) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(162,10,100) 0%, rgb(223,21,141) 100%);
  }
}

%payment-info-btn {    //  these buttons appears in company info section
  display: block;
  color: $color-inverted;
  font-family: $font-2;
  font-size: 15px;
  background: url(../images/icons/arrow-right-icon.png) 180px 16px $color-strong-text no-repeat;
  padding: 14px 20px;
  @include border-radius(5px);
}
