/**
* -----------------------------------------------------------
* Button styles
* -----------------------------------------------------------
*/

.btn {
  display: block;
  padding: 38px 13px;
  margin: 10px 0;
  position: relative;
  text-align: center;
  background: $color-hr;
  span {    //  square inside button
    padding: 26px;
    background: $color-text;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  &:hover span {
    background: $color-highlight;
  }
}

%payment-info-btn {
  display: block;
  color: $color-inverted;
  font-family: $font-2;
  font-size: 15px;
  background: url(../images/icons/arrow-right-icon.png) 180px 16px $color-strong-text no-repeat;
  padding: 14px 20px;
  @include border-radius(5px);
}
