/**
* -----------------------------------------------------------
* Slider styles
* -----------------------------------------------------------
*/
// position slider
.m-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;  // create space for slider control
  border: 1px solid $color-hr;
}
// set space for slider controls
.m-slider::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: '';
  display: block;
  background: #fff;
  height: 48px;
}
.m-slide-switch {
  display: none;
}

// mixin for creating labels
@mixin slide-label-position {
  $k:0;
  @for $i from 1 through 5 {
  &:nth-of-type(#{$i}) {
      left: 0 + $k;
      $k: $k + 3.5rem;
    }
  }
}

.m-slide-label {
  position: absolute;
  margin-right: auto;  // centering slider controls
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: 1rem;
  display: block;
  z-index: 5;
  height: 1rem;
  width: 1rem;
  text-indent: 1rem;  // hide text
  overflow: hidden;
  background: $color-hr;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s;
  @include slide-label-position;  // creating as many labels as we need
}
// this technique allows to put all slides underneath eachother
.m-slide-content {
  width: 100%;
  background: #fff;
  float: left;
  margin-right: -100%;
}
// highlight checked label
.m-slide-switch:checked + .m-slide-label {
  background: $color-highlight;
}
// vanish not checked slider
.m-slide-switch:not(:checked) + .m-slide-label + .m-slide-content {
  opacity: 0;
  transition: opacity 0.35s;
  pointer-events: none;
}
// display slide with animation
.m-slide-switch:checked + .m-slide-label + .m-slide-content {
  animation: slide 1s;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
